
    <div class="az-content az-content-app az-content-contacts pd-b-0">
      <div class="container">
        <div class="az-content-left az-content-left-contacts">
          <div class="az-content-breadcrumb lh-1 mg-b-10">
          </div>
          <h2 class="az-content-title tx-24 mg-b-30">My Orders</h2>
          <nav class="nav az-nav-line az-nav-line-chat">
            <a href="#" (click)="appointments()"  ata-toggle="tab" class="nav-link active">Appointments</a>
            <a  href="#" (click)="quotes()"   data-toggle="tab" class="nav-link" >Quotes</a>
          </nav>

          <div id="azContactList" class="az-contacts-list" [hidden]="appointment" >
            <div class="az-contact-label">{{first}}</div>
            <div class="az-contact-item " id="az-contact-item" *ngFor="let order of orders; index as i" (click)="setId(order,i,this._uw.tamano)"  [hidden]="order.orderType=='appointment'" > 
                  <div class="az-img-user online"><img src="assets/assetsmobile/img/service.png" alt=""></div>
              <div class="az-contact-body">
                <h6>{{order.quoteId  }}</h6>
                <h6>{{order.serviceType  | slice:0:20 }}</h6>
                <span>{{order.subService}}</span>
              </div>
               <a href="#" class="az-contact-star active"><i class="typcn typcn-star"></i></a>
            </div>
          </div>

           <div id="azContactList" class="az-contacts-list" [hidden]="quote"  >
            <div class="az-contact-label">{{first}}</div>
            <div class="az-contact-item " id="az-contact-item" *ngFor="let order of orders; index as i" (click)="setId(order,i,this._uw.tamano)" [hidden]="order.orderType!='appointment'"> 
                  <div class="az-img-user online"><img src="assets/assetsmobile/img/service.png" alt=""></div>
              <div class="az-contact-body">
                <h6>{{order.quoteId  }}</h6>
                <h6>{{order.serviceType  | slice:0:20 }}</h6>
                <span>{{order.houseSize}}</span>
              </div>
               <a href="#" class="az-contact-star active"><i class="typcn typcn-star"></i></a>
            </div>
          </div>
        </div>

    <!--     <div class="az-content-body az-content-body-contacts" [hidden]="itemSelected" >
            <div style="padding: 30%;">
          <p>
            {{message}}
          </p>
            </div>
        </div>
 -->
        <div class="az-content-body az-content-body-contacts" [hidden]="!itemSelected || !quote" >
          <div class="az-contact-info-header">
            <div class="media">
              <div class="az-img-user">
                <img src="assets/assetsmobile/img/service.png" alt="">
               </div>
              <div class="media-body">
                <h4>{{_uw.orderSelected.quoteId}}</h4>
                <p>{{_uw.orderSelected.serviceType  }} </p>
                <p>{{_uw.orderSelected.subService  }}</p>
                <nav class="nav">
                  <a class="nav-link"><i class="typcn typcn-user-outline"></i>Cleaners: 
                     <b>
                     <span style="font-size: 20px;">
                    {{_uw.orderSelected.ncleaners}}  
                     </span> 
                    </b>
                  </a>
                  <a class="nav-link"><i class="typcn typcn-stopwatch"></i> Hours per day: 
                     <b>
                     <span style="font-size: 20px;">
                    {{_uw.orderSelected.hoursPerDay}}  
                     </span> 
                    </b>
                  </a>
                  <a class="nav-link"><i class="typcn typcn-calendar-outline"></i> Days per month: 
                    <b>
                    <span style="font-size: 20px;">
                    {{_uw.orderSelected.daysPerMonth}} 
                     </span> 
                    </b>
                  </a>
               </nav>
              </div>
            </div>


          </div>
          <div class="az-contact-info-body">
            <div class="media-list">
              <div class="media">
                <div class="media-icon"><i class="fas fa-user"></i></div>
                <div class="media-body">
                  <div>
                    <label>Client</label>
                    <span class="tx-medium">{{_uw.orderSelected.name}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="fas fa-mobile-alt"></i></div>
                <div class="media-body">
                  <div>
                    <label>Phone</label>
                    <span class="tx-medium">{{_uw.orderSelected.phone}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon align-self-start"><i class="far fa-envelope"></i></div>
                <div class="media-body">
                  <div>
                    <label>Email</label>
                    <span class="tx-medium">{{_uw.orderSelected.email}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="far fa-map"></i></div>
                <div class="media-body">
                  <div>
                    <label>Address</label>
                    <span class="tx-medium">{{_uw.orderSelected.address}}</span>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="far fa-money-bill"></i></div>
                <div class="media-body">
                  <div>
                    <label>Amount</label>
                    <a href="#" class="tx-13">CAD: {{_uw.orderSelected.amount  |  number:'1.0-2' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

         <div class="az-content-body az-content-body-contacts" [hidden]="!itemSelected || !appointment" >
          <div class="az-contact-info-header">
            <div class="media">
              <div class="az-img-user">
                <img src="assets/assetsmobile/img/service.png" alt="">
               </div>
              <div class="media-body">
                <h4>{{_uw.orderSelected.quoteId}}</h4>
                <p>{{_uw.orderSelected.serviceType  }} </p>
                <p>{{_uw.orderSelected.houseSize  }}</p>
                <nav class="nav">
                 
                
               
               </nav>
              </div>
            </div>


          </div>
          <div class="az-contact-info-body">
            <div class="media-list">
              <div class="media">
                <div class="media-icon"><i class="fas fa-user"></i></div>
                <div class="media-body">
                  <div>
                    <label>Client</label>
                    <span class="tx-medium">{{_uw.orderSelected.name}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="fas fa-mobile-alt"></i></div>
                <div class="media-body">
                  <div>
                    <label>Phone</label>
                    <span class="tx-medium">{{_uw.orderSelected.phone}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon align-self-start"><i class="far fa-envelope"></i></div>
                <div class="media-body">
                  <div>
                    <label>Email</label>
                    <span class="tx-medium">{{_uw.orderSelected.email}}</span>
                  </div>
                  <div>
                
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="far fa-map"></i></div>
                <div class="media-body">
                  <div>
                    <label>Address</label>
                    <span class="tx-medium">{{_uw.orderSelected.address}}</span>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon"><i class="far fa-money-bill"></i></div>
                <div class="media-body">
                  <div>
                    <label>Amount</label>
                    <a href="#" class="tx-13">CAD: {{_uw.orderSelected.amount  |  number:'1.0-2' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span>&copy; 2021 Buckapi.com v1.2</span>
      </div><!-- container -->
    </div><!-- az-footer -->
    <script>
      $(function(){
        'use strict'

        new PerfectScrollbar('#azContactList', {
          suppressScrollX: true
        });

        new PerfectScrollbar('.az-contact-info-body', {
          suppressScrollX: true
        });

        $('.az-contact-item').on('click touch', function() {
          $(this).addClass('selected');
          $(this).siblings().removeClass('selected');

          $('body').addClass('az-content-body-show');
        })

      });
    </script>