

    <div class="az-content az-content-app az-content-contacts pd-b-0">
      <div class="container">
        <div class="az-content-left az-content-left-contacts">

          <div class="az-content-breadcrumb lh-1 mg-b-10">
            <span>Apps &amp; Pages</span>
            <span>Contacts</span>
          </div>
          <h2 class="az-content-title tx-24 mg-b-30">My Contacts</h2>

          <nav class="nav az-nav-line az-nav-line-chat">
            <a href="#" data-toggle="tab" class="nav-link active">All Contacts</a>
            <a href="#" data-toggle="tab" class="nav-link">Groups</a>
          </nav>

          <div id="azContactList" class="az-contacts-list">
            <div class="az-contact-label">A</div>
            <div class="az-contact-item selected">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img20.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Abigail Johnson</h6>
                <span class="phone">+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star active"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user"><img src="assets/assetsmobile/img/img9.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Archie Cantones</h6>
                <span>archie@cantones.com</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-avatar bg-gray-600 online">A</div>
              <div class="az-contact-body">
                <h6>Allan Rey Palban</h6>
                <span>allanr@palban.com</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-avatar bg-gray-700">A</div>
              <div class="az-contact-body">
                <h6>Aileen Mante</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-label">B</div>
            <div class="az-contact-item">
              <div class="az-img-user"><img src="assets/assetsmobile/img/img5.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Brandon Dilao</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img21.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Britney Labares</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-avatar bg-gray-700">B</div>
              <div class="az-contact-body">
                <h6>Brateyley Cruz</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-label">C</div>
            <div class="az-contact-item">
              <div class="az-img-user"><img src="assets/assetsmobile/img/img18.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Camille Audrey</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img16.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Christian Lerio</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img17.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Christopher Segovia</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-label">D</div>
            <div class="az-contact-item">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img3.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Darius Clayton</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user"><img src="assets/assetsmobile/img/img2.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Dyanne Aceron</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
            <div class="az-contact-item">
              <div class="az-img-user online"><img src="assets/assetsmobile/img/img22.jpg" alt=""></div>
              <div class="az-contact-body">
                <h6>Divina Gracia</h6>
                <span>+1-234-567-890</span>
              </div><!-- az-contact-body -->
              <a href="#" class="az-contact-star"><i class="typcn typcn-star"></i></a>
            </div><!-- az-contact-item -->
          </div><!-- az-contacts-list -->

        </div><!-- az-content-left -->
        <div class="az-content-body az-content-body-contacts">
          <div class="az-contact-info-header">
            <div class="media">
              <div class="az-img-user">
                <img src="assets/assetsmobile/img/img20.jpg" alt="">
                <a href="#"><i class="typcn typcn-camera-outline"></i></a>
              </div>
              <div class="media-body">
                <h4>Abigail Johnson</h4>
                <p>Product Designer</p>
                <nav class="nav">
                  <a href="#" class="nav-link"><i class="typcn typcn-device-phone"></i> Call</a>
                  <a href="#" class="nav-link"><i class="typcn typcn-messages"></i> Message</a>
                  <a href="#" class="nav-link"><i class="typcn typcn-user-add-outline"></i> Add to Group</a>
                  <a href="#" class="nav-link"><i class="typcn typcn-cancel"></i> Block</a>
                </nav>
              </div><!-- media-body -->
            </div><!-- media -->
            <div class="az-contact-action">
              <a href="#"><i class="typcn typcn-edit"></i> Edit Contact</a>
              <a href="#"><i class="typcn typcn-trash"></i> Delete Contact</a>
            </div><!-- az-contact-action -->

          </div><!-- az-contact-info-header -->
          <div class="az-contact-info-body">
            <div class="media-list">
              <div class="media">
                <div class="media-icon"><i class="fas fa-mobile-alt"></i></div>
                <div class="media-body">
                  <div>
                    <label>Work</label>
                    <span class="tx-medium">+1 (234) 567 8901</span>
                  </div>
                  <div>
                    <label>Personal</label>
                    <span class="tx-medium">+1 (498) 021 0090</span>
                  </div>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon align-self-start"><i class="far fa-envelope"></i></div>
                <div class="media-body">
                  <div>
                    <label>Gmail Account</label>
                    <span class="tx-medium">abigail.johnson@gmail.com</span>
                  </div>
                  <div>
                    <label>Other Account</label>
                    <span class="tx-medium">me@bootstrapdash.me</span>
                  </div>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="far fa-map"></i></div>
                <div class="media-body">
                  <div>
                    <label>Current Address</label>
                    <span class="tx-medium">012 Dashboard Apartments, San Francisco, California 13245</span>
                  </div>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="far fa-clock"></i></div>
                <div class="media-body">
                  <div>
                    <label>Call History</label>
                    <a href="#" class="tx-13">Duration of last call: 2m 32sec</a>
                  </div>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- media-list -->
          </div><!-- az-contact-info-body -->
        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->

    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
      </div><!-- container -->
    </div><!-- az-footer -->
