
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a routerLink="" class="az-logo"><span></span> MySite</a>
          <a href="#" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
          <a href="#" id="azContentBodyHide" class="az-header-arrow d-md-none"><i class="fa fa-arrow-left"></i></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a routerLink="" class="az-logo"><span></span> MySite</a>
            <a href="#" class="close">&times;</a>
          </div><!-- az-header-menu-header -->

<ul class="nav"  [hidden]="!this._uw.account ">
            <li class="nav-item   active show"   >
              <a routerLink="account " class="nav-link "><i class="typcn typcn-user-outline"></i> My Account</a>
            </li>
            <li class="nav-item"  >
              <a routerLink="appointments" class="nav-link "><i class="typcn typcn-calendar"></i> Appointments</a>
            
            </li>
            <li class="nav-item  "   >
              <a routerLink="quotes" class="nav-link "><i class="typcn typcn-bookmark"></i> Quotes</a>
            </li>
          </ul>

          

          <ul class="nav"  [hidden]="!router.url.includes('/appointments')  ">
            <li class="nav-item  "   >
              <a routerLink="account" class="nav-link "><i class="typcn typcn-user-outline"></i> My Account</a>
            </li>
            <li class="nav-item active show"  >
              <a routerLink="appointments" class="nav-link "><i class="typcn typcn-calendar"></i> Appointments</a>
            
            </li>
            <li class="nav-item  "   >
              <a routerLink="quotes" class="nav-link "><i class="typcn typcn-bookmark"></i> Quotes</a>
            </li>
          </ul>

          <ul class="nav"  [hidden]="!router.url.includes('/quotes') ">
              <li class="nav-item  "   >
              <a routerLink="account" class="nav-link "><i class="typcn typcn-user-outline"></i> My Account</a>
            </li>
            <li class="nav-item "  >
              <a routerLink="appointments" class="nav-link "><i class="typcn typcn-calendar"></i> Appointments</a>
            
            </li>
            <li class="nav-item active show "   >
              <a routerLink="quotes" class="nav-link "><i class="typcn typcn-bookmark"></i> Quotes</a>
            </li>
          </ul>


        </div><!-- az-header-menu -->
        <div class="az-header-right">
         <!--  <a href="#" class="az-header-search-link"><i class="fas fa-search"></i></a> -->
         <!--  <div class="az-header-message">
            <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
          </div> -->
          <!-- az-header-message -->
          <div class="dropdown az-header-notification">
            <a href="#" class="new"><i class="typcn typcn-bell"></i></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header mg-b-20 d-sm-none">
                <a href="#" class="az-header-arrow"><i class="fa fa-arrow-left"></i></a>
              </div>
              <h6 class="az-notification-title">Notifications</h6>
              <p class="az-notification-text">You have 0 unread notification</p>
          
              <div class="dropdown-footer"><a href="#">
That's all right</a></div>
            </div><!-- dropdown-menu -->
          </div><!-- az-header-notification -->
          <div class="dropdown az-profile-menu">
            <a href="#" class="az-img-user"><img src="assets/assetsmobile/img/service.png" alt=""></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header d-sm-none">
                <a href="#" class="az-header-arrow"><i class="fa fa-arrow-left"></i></a>
              </div>
              <div class="az-header-profile">
                <div class="az-img-user">
                  <img src="assets/assetsmobile/img/service.png" alt="">
                </div><!-- az-img-user -->
                <h6>PenguinsCleaning</h6>
                <!-- <span>MySite</span> -->
              </div><!-- az-header-profile -->

            <!--   <a href="#" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
              <a href="#" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
              <a href="#" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a> -->
              <a  routerLink="account"class="dropdown-item"  style="cursor: pointer;"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
              <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
            </div><!-- dropdown-menu -->
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div><!-- az-header -->